body {
    height: 95vh;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    width: 500px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
}

p#dinheiro{
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: -5px;
    color: gold;
}

p#dps {
    font-size: 15px;
    color: rgb(83, 83, 83);
}

#telaJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.telaMinerios {
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: gainsboro;
}

.minerio {
    margin: 25px 0px;
    text-align: center;
    font-size: 30px;
}

#minerioVida {
    color: rgb(40, 194, 2);
}

#botaoMinerar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

#btnMinerar {
    font-size: 50px;
}