#telaJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.telaMinerios {     
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: gainsboro;
}

.minerio {
    
}